.card {

    &__venue {
        min-width: 301px;
        max-width: 301px;
        min-height: 521px;
        max-height: 521px;
    }

    .card-img {
        height: 521px;
        width: 100%;
        object-fit: cover;
    }
}